/* text-align--left */
.ta-l {
  text-align: left;
}

/* text-align--center */
.ta-c {
  text-align: center;
}

/* text-align--right */
.ta-r {
  text-align: right;
}

/* vertical-align--middle */
.va-m {
  vertical-align: middle;
}

/* list-style--none */
/* list-style--inline */
.ls-n,
.ls-i {
  list-style: none;
  padding-left: 0;
}

.ls-i li {
  display: inline-block;
  margin-right: 2rem;
}

.ls-i li:last-child {
  margin-right: 0;
}

/* margin-y--collapse */
.my-c > *:not(:first-child) {
  margin-top: 0;
}

.my-c > *:not(:last-child) {
  margin-bottom: 0;
}

/* margin-x--auto */
.mx-a {
  margin-left: auto;
  margin-right: auto;
}

/* display--inline-block */
.d-ib {
  display: inline-block;
}

/* display--inline */
.d-i {
  display: inline;
}

/* width--100 */
.w-100 {
  width: 100%;
}
