/*! drab.css v0 | Apache-2.0 License | github.com/heiskr/drab.css */

/* Colors from http://www.hsluv.org/ */

:root {
  --s4: #ffffff; /* 250, 30,100 */
  --s3: #f8f9fb; /* 250, 30, 98 */
  --s2: #eff1f5; /* 250, 30, 95 */
  --s1: #bec7d8; /* 250, 30, 80 */
  --s0: #2a313d; /* 250, 30, 20 */
  --i1: #a8c8ff; /* 250,100, 80 */
  --i0: #006dbc; /* 250,100, 45 */
  --b0: #d80005; /*  12,100, 45 */
  --h0: #fff489; /*  80,100, 95 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --s4: #171c24; /* 250, 30, 10 */
    --s3: #202631; /* 250, 30, 15 */
    --s2: #2a313d; /* 250, 30, 20 */
    --s1: #52606f; /* 250, 30, 40 */
    --s0: #eff1f5; /* 250, 30, 95 */
    --i1: #0060a7; /* 250,100, 40 */
    --i0: #0094fc; /* 250,100, 60 */
    --b0: #ff5354; /*  12,100, 60 */
    --h0: #4d4800; /*  80,100, 30 */
  }
}

/* A1. Apply `border-box` sizing to all. */
/* A9. Use the same border color everywhere. */

* {
  box-sizing: border-box;
  border: 0 solid var(--s1);
}

/* A2. Apply system font to all. */
/* A5. Standardize line-height and font-size. */
/* A8. Lighten text color slightly. */

html,
input,
textarea,
select,
button {
  /* The font family comes from Bootstrap 4. */
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
  color: var(--s0);
  background: var(--s4);
}

/* A3. Apply system monospace font to matching. */

pre,
code,
samp,
kbd,
var,
[type='tel'],
[type='number'],
[type='date'],
[type='month'],
[type='week'],
[type='datetime'],
[type='datetime-local'] {
  /* This font family comes from Bootstrap 4. */
  /* 14px / 24px */
  font: 0.875rem/1.7142 SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', monospace;
}

/* A4. Limit width on body so text is easier to read. */

body {
  margin: 0 auto;
  max-width: 40rem; /* 640px */
  padding: 1rem; /* 16px */
}

/* A6. Standardize focus states. */

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--i1);
}

/* A7. Round corners. */

*:not(svg):not(th),
progress::-webkit-progress-value {
  border-radius: 0.25rem;
}

/* Separate, otherwise breaks Safari and Chrome */
progress::-moz-progress-bar {
  border-radius: 0.25rem;
}

/* B1. Adjust headers for 8px rhythm. */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0; /* 16px */
}

h1 {
  font-size: 2rem; /* 32px */
  line-height: 1.25; /* 40px */
}

h2,
h3 {
  /*  font-size: 1.5 => 24px */
  line-height: 1.3333; /* 32px */
}

h3 {
  font-size: 1.125rem; /* 18px */
  /* line-height: 1.3333 => 24px */
}

h5,
h6 {
  font-size: 1rem; /* 16px */
}

/* B2. Tighten left on lists. */

ul,
ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

/* B3. Add a left border to blockquote. */
/* B4. Adjust blockquote margin for 8px rhythm. */

blockquote {
  /* I'm switching to padding-left here
     to be able to apply a left border later. */
  padding-left: calc(1.5rem - 1px);
  margin-left: 0;
  border-left-width: 1px;
}

/* B5. Adjust figure margins for 8px rhythm. */

figure {
  margin: 1rem 2rem;
}

/* B6. Constrain image and iframe to width to body. */
/* F1. Constrain form to body width. */

img,
iframe,
input,
textarea,
button,
[type='submit'],
[type='button'],
[type='reset'] {
  max-width: 100%;
}

/* B7. Update progres height to 8px rhythm. */

progress {
  height: 0.5rem;
}

/* B8. Adjust hr margin for 8px rhythm. */
hr {
  border-bottom-width: 1px;
  margin: 1rem 0 calc(1rem - 1px);
  /* We do border-bottom because the border-style default here is beveled,
     and the top is darkened as a result. */
}

/* B9. Make summary look easier to click. ****/

summary {
  cursor: pointer;
}

/* B10. Increase whitespace around header, section, and footer. */

header,
section,
footer {
  margin: 4rem 0;
}

/* B11. Update progress colors. */

progress::-webkit-progress-value {
  background: var(--i1);
}

/* Separate, otherwise breaks Safari/Chrome */
progress::-moz-progress-bar {
  background: var(--i1);
}

/* T4. Add color to separate thead and tfoot. */
/* B11. Update progress colors. */

thead,
tfoot,
progress,
progress::-webkit-progress-bar {
  background: var(--s2);
}

/* I1. Update small for 8px rhythm. */

small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.7142; /* 24px */
}

/* I2. Make strikethroughs more obvious. */

del,
s,
time {
  opacity: 0.7;
}

/* I3. Adjust link color, removing visited color. */

a {
  color: var(--i0);
}

/* I4. Update mark colors. */

mark {
  color: var(--s0);
  background: var(--h0);
}

/* F2. Remove shadow on iOS. */

input:not([type='checkbox']):not([type='radio']):not([type='range']),
textarea {
  -webkit-appearance: none;
}

/* F3. Lighten disabled. */

:disabled,
::placeholder {
  opacity: 0.5;
}

/* F4. Use the same border-width on form. */

fieldset,
input:not([type='button']):not([type='submit']):not([type='reset']),
textarea,
select {
  border-width: 1px;
}

/* F5. Add a little padding to input and button. */

input,
textarea,
select {
  /* We need to account for the border width. */
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
}

button,
[type='submit'],
[type='button'],
[type='reset'] {
  padding: 0.25rem 1rem;
}

/* F6. Update button colors. **/

button,
[type='button'] {
  background: var(--i1);
}

[type='submit'] {
  color: var(--s4);
  background: var(--i0);
}

[type='reset'] {
  color: var(--b0);
  background: var(--s2);
}

/* T1. Use padding not border-spacing on tables. */

table {
  border-spacing: 0;
}

td,
th {
  padding: 0 0.5rem;
}

/* This way, the sides and space between cells is the same. */
td:first-child,
th:first-child {
  padding-left: 1rem;
}

td:last-child,
th:last-child {
  padding-right: 1rem;
}

/* T2. Align everything left in table cells by default. */

th {
  text-align: left;
}

/* T3. Add zebra-striping to tables. */

tr:nth-child(even) {
  background: var(--s3);
}
