/*! drab.css v0 | Apache-2.0 License | github.com/heiskr/drab.css */

:root {
  --color: oklch(30% 0.007 260);
  --background: oklch(100% 0.007 260);
  --area: oklch(98% 0.007 260);
  --border: oklch(80% 0.007 260);
  --active: oklch(50% 0.15 260);
  --active-background: oklch(80% 0.15 260);
  --bad: oklch(60% 0.2 30);
  --mark: oklch(95% 0.1 100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: oklch(90% 0.007 260);
    --background: oklch(20% 0.007 260);
    --area: oklch(30% 0.007 260);
    --border: oklch(45% 0.007 260);
    --active: oklch(60% 0.15 260);
    --active-background: oklch(40% 0.15 260);
    --bad: oklch(60% 0.2 30);
    --mark: oklch(30% 0.02 100);
  }
}

/* A6. Use the same border color everywhere. */

* {
  border: 0 solid var(--border);
}

/* A2. Standardize line-height and font-size. */
/* A5. Lighten text color slightly. */

html,
input,
textarea,
select,
button {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color);
  background: var(--background);
}

pre,
code,
samp,
kbd {
  /* 14px / 24px */
  font-size: 0.875rem;
  line-height: 1.7142;
}

/* A1. Limit width on body so text is easier to read. */

body {
  margin: 0 auto;
  max-width: 40rem; /* 640px */
  padding: 1rem; /* 16px */
}

/* A3. Standardize focus states. */

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--active-background);
}

/* A4. Round corners. */

*:not(svg):not(th):not(td),
progress::-webkit-progress-value {
  border-radius: 0.25rem;
}

/* B1. Adjust headers for 8px rhythm. */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0; /* 16px */
}

h1 {
  font-size: 2rem; /* 32px */
  line-height: 1.25; /* 40px */
}

h2,
h3 {
  /*  font-size: 1.5 => 24px */
  line-height: 1.3333; /* 32px */
}

h3 {
  font-size: 1.125rem; /* 18px */
  /* line-height: 1.3333 => 24px */
}

h5,
h6 {
  font-size: 1rem; /* 16px */
}

/* B2. Tighten left on lists. */

ul,
ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

/* B3. Add a left border to blockquote. */
/* B4. Adjust blockquote margin for 8px rhythm. */

blockquote {
  /* I'm switching to padding-left here
     to be able to apply a left border later. */
  padding-left: calc(1.5rem - 1px);
  margin-left: 0;
  border-left-width: 1px;
}

/* B5. Adjust figure margins for 8px rhythm. */

figure {
  margin: 1rem 2rem;
}

/* B6. Constrain image and iframe to width to body. */
/* F1. Constrain form to body width. */

img,
iframe,
input,
textarea,
button,
[type='submit'],
[type='button'],
[type='reset'] {
  max-width: 100%;
}

/* B7. Update progres height to 8px rhythm. */

progress {
  height: 0.5rem;
}

/* B8. Adjust hr margin for 8px rhythm. */
hr {
  border-bottom-width: 1px;
  margin: 1rem 0 calc(1rem - 1px);
  /* We do border-bottom because the border-style default here is beveled,
     and the top is darkened as a result. */
}

/* B9. Make summary look easier to click. ****/

summary {
  cursor: pointer;
}

/* B10. Increase whitespace around header, section, and footer. */

header,
section,
footer {
  margin: 4rem 0;
}

/* B11. Update progress colors. */

progress::-webkit-progress-value {
  background: var(--active-background);
}

/* Separate, otherwise breaks Safari/Chrome */
progress::-moz-progress-bar {
  background: var(--active-background);
}

/* B11. Update progress colors. */

progress,
progress::-webkit-progress-bar {
  background: var(--area);
}

/* I1. Update small for 8px rhythm. */

small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.7142; /* 24px */
}

/* I2. Make strikethroughs more obvious. */

del,
s,
time {
  opacity: 0.7;
}

/* I3. Adjust link color, removing visited color. */

a {
  color: var(--active);
}

/* I4. Update mark colors. */

mark {
  color: var(--color);
  background: var(--mark);
}

/* F2. Remove shadow on iOS. */

input:not([type='checkbox']):not([type='radio']):not([type='range']),
textarea {
  -webkit-appearance: none;
  appearance: none;
}

/* F3. Lighten disabled. */

:disabled,
::placeholder {
  opacity: 0.5;
}

/* F4. Use the same border-width on form. */

fieldset,
input:not([type='button']):not([type='submit']):not([type='reset']),
textarea,
select {
  border-width: 1px;
}

/* F5. Add a little padding to input and button. */

input,
textarea,
select {
  /* We need to account for the border width. */
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
}

button,
[type='submit'],
[type='button'],
[type='reset'] {
  padding: 0.25rem 1rem;
}

/* F6. Update button colors. **/

button,
[type='button'] {
  background: var(--active-background);
}

[type='submit'] {
  color: var(--background);
  background: var(--active);
}

[type='reset'] {
  color: var(--bad);
  background: var(--area);
}

/* F7. Block-level labels. */

label {
  display: block;
}

/* T1. Use padding not border-spacing on tables. */

table {
  border-spacing: 0;
}

td,
th {
  padding: 0 0.5rem;
}

/* This way, the sides and space between cells is the same. */
td:first-child,
th:first-child {
  padding-left: 1rem;
}

td:last-child,
th:last-child {
  padding-right: 1rem;
}

/* T2. Align everything left in table cells by default. */

th {
  text-align: left;
}

/* T3. Add horizontal rules to tables. */

tr:not(:last-child) td,
thead th,
thead td {
  border-bottom-width: 1px;
}

tfoot th,
tfoot td {
  border-top-width: 1px;
}
