/*! drab.css v0 | Apache-2.0 License | github.com/heiskr/drab.css */

/* 1. Apply `border-box` sizing to all elements. */

* {
  box-sizing: border-box;
}

/* 2. Apply system fonts. */

body, input, textarea, button {
  /* https://css-tricks.com/snippets/css/system-font-stack */
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

pre, code, samp, kbd, var,
[type=tel], [type=number],
[type=date], [type=month], [type=week], [type=datetime], [type=datetime-local] {
  /* https://www.client9.com/css-system-font-stack-monospace-v2 */
  font-family:
    "SFMono-Regular",
    Menlo,
    Consolas,
    Inconsolata,
    "Liberation Mono",
    Monaco,
    "Andale Mono",
    monospace;
  font-size: 90%;
}

/* 3. Apply more common `line-height` and use an `8px` vertical rhythm. */

/*
  1   : 16px
  1.5 : 24px
  2   : 32px
  2.5 : 40px
  3   : 48px
  3.5 : 56px
  4   : 64px
*/

body, input, textarea, button {
  /* font-size 1, 16px */
  line-height: 1.5; /* 24px */
}

input, textarea, button, h5, h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, hr {
  margin: 1rem 0;
}

h1 {
  font-size: 2rem; /* 32px */
  line-height: 3rem; /* 48px */
}

h2 {
  /* font-size 1.5, 24px */
  line-height: 2.5rem; /* 40px */
}

h3 {
  line-height: 2rem; /* 32px */
}

figure {
  margin: 1rem 2rem;
}

blockquote {
  padding-left: 1.5rem;
  margin-left: 0;
}

legend {
  padding: 0.25rem 0.5rem;
}

input, textarea {
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
}

button, [type=submit], [type=button], [type=reset] {
  padding: 0.25rem 1rem;
}

/* 4. Constrain elements to width. */

img, iframe,
input, textarea,
button, [type=submit], [type=button], [type=reset] {
  max-width: 100%;
}

/* 5. Use consistent border sizes and styles. */

fieldset, input, textarea {
  border: 1px solid;
}

hr {
  border: 0;
  border-top: 1px solid;
}

blockquote {
  border-left: 1px solid;
}

/* 6. Tighten left on list like elements. */

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

/* 7. Apply more common spacing on `table`s. */

table {
  border-spacing: 0;
}

th, td {
  padding: 0 1rem;
}

th {
  text-align: left;
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

/* 8. Add spacing to sectional elements. */

header, section, footer {
   margin: 4rem 0;
}

/* 9. Style buttons to look more like web buttons. */

button, [type=submit], [type=button], [type=reset] {
  border: 0;
}

button, [type=submit], [type=button] {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

[type=reset] {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

button:disabled, [type=submit]:disabled,
[type=button]:disabled, [type=reset]:disabled {
  box-shadow: none;
}

/* 10. Change the look of caption text. */

caption, figcaption {
  font-style: italic;
}

/* 11. Make strikethroughs more obvious. */

del, s {
  opacity: 0.5;
}

/* 12. Soften the shape of big boxy elements. */

code, samp, kbd, mark {
  padding: 0.25rem;
}

img,
input, textarea, button,
button, [type=submit], [type=button], [type=reset],
fieldset,
pre, code, samp, kbd,
mark {
  border-radius: 0.25rem;
}

/* 13. Use more common, consistent, and attractive colors. */

/*
  hsluv(240,  30, l) - Static page elements
  hsluv(240, 100, l) - Interactive elements
  hsluv( 80, 100, l) - Highlight, warning
  hsluv( 12, 100, l) - Bad, error, issue
*/

body, input, textarea, button {
  color: #29313a; /* hsluv(240, 30, 20) */
}

pre, code, samp, kbd, tr:nth-child(even) {
  background: #f8f9fb; /* hsluv(240, 30, 98) */
}

thead, tfoot {
  background: #eef1f5; /* hsluv(240, 30, 95) */
}

hr, blockquote, fieldset,
input, textarea {
  border-color: #bac8d8; /* hsluv(240, 30, 80) */
}

::placeholder {
  color: #67798b; /* hsluv(240, 30, 50) */
}

a {
  color: #007cb3; /* hsluv(240, 100, 49) */
}

mark {
  background: #fff489; /* hsluv(80, 100, 95) */
}

[type=submit] {
  color: white;
  background: #007cb3; /* hsluv(240, 100, 49) */
}

button, [type=button] {
  background: #93ccff; /* hsluv(240, 100, 80) */
}

button[type=reset], [type=reset] {
  color: #d80005; /* hsluv(12, 100, 45) */
  background: #eef1f5; /* hsluv(240, 30, 95) */
}

button:disabled, [type=submit]:disabled,
[type=button]:disabled, [type=reset]:disabled {
  color: #5c6c7d; /* hsluv(240, 30, 45) */
  background: #f8f9fb; /* hsluv(240, 30, 98) */
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #93ccff; /* hsluv(240, 100, 80) */
}

input:hover, textarea:hover {
  border-color: #97aec6; /* hsluv(240, 30, 70) */
}

a:hover,
button:hover, [type=submit]:hover,
[type=button]:hover, [type=reset]:hover {
  opacity: 0.9;
}

a:active,
button:active, [type=submit]:active,
[type=button]:active, [type=reset]:active {
  opacity: 1;
}

/* 14. Finally, limit width on a high element so text is more readable. (The only class!) */

.page {
  margin: 0 auto;
  max-width: 40rem; /* 640px */
  padding: 1rem;
}
