/*
  hsluv(250,  30, l) - Static page elements
  hsluv(250, 100, l) - Interactive elements
  hsluv( 80, 100, l) - Highlight, warning
  hsluv( 12, 100, l) - Bad, error, issue
*/

time {
  opacity: 0.7;
}

a:hover,
button:hover,
[type='submit']:hover,
[type='button']:hover,
[type='reset']:hover {
  opacity: 0.9;
}

a:active,
button:active,
[type='submit']:active,
[type='button']:active,
[type='reset']:active {
  opacity: 1;
}

body,
input,
textarea,
button {
  color: #eff1f5; /* 250-30-95 */
  background: #171c24; /* 250-30-10 */
}

pre,
code,
samp,
kbd,
tr:nth-child(even) {
  background: #202631; /* 250-30-15 */
}

thead,
tfoot {
  background: #2a313d; /* 250-30-20 */
}

hr,
blockquote,
fieldset,
input,
textarea {
  border-color: #3e4759; /* 250-30-30 */
}

::placeholder {
  color: #697893; /* 250-30-50 */
}

a {
  color: #0094fc; /* 250-100-60 */
}

mark {
  background: #4d4800; /* 80-100-30 */
  color: white;
}

[type='submit'] {
  color: white;
  background: #007ad1; /* 250-100-50 */
}

button,
[type='button'] {
  background: #004880; /* 250-100-30 */
}

button[type='reset'],
[type='reset'] {
  color: #ff5354; /* 12-100-60 */
  background: #2a313d; /* 250-30-20 */
}

button:disabled,
[type='submit']:disabled,
[type='button']:disabled,
[type='reset']:disabled {
  color: #7f91b2; /* 250-30-60 */
  background: #2a313d; /* 250-30-20 */
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #0060a7; /* 250-100-40 */
}

input:hover,
textarea:hover {
  border-color: #535f75; /* 250-30-40 */
}

progress,
progress::-webkit-progress-bar {
  background: #2a313d; /* 250-30-20 */
}

progress::-webkit-progress-value {
  background: #0094fc; /* 250-100-60 */
}

/* Separate, otherwise breaks Safari/Chrome */
progress::-moz-progress-bar {
  background: #0094fc; /* 250-100-60 */
}
